<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME TO <%=admin.name%></h1>
    <div class="listofusers">
        members
        <% exchange.participants.forEach((e)=>{%>
            <div class="members">
            <%= e %> 
            </div> 
            <% }); %> 
    </div>

    <% if(!ismember){ %>
        <form action="/exchanges/<%=exchange._id %>" method="post">
            <button type="submit">JOIN</button>
        </form>
        <% } %>     
</body>
</html>